.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.Quote, .Author, .quoteform {
  border: gray 1px solid;
  height: 10em;
  width: 25em;
  margin: 0 auto;
  margin-bottom: .5em;
  background-color: #e0ffff
}

.Quote h2{
  margin-top:0.25em;
  padding-bottom: 1em;
  font-family: arial;
}
.Quote h3{
  font-style: italic;
}
.Author{
  background-color:#EFBAF7
}

.quoteform{
  margin-top: 2.5em;
  background-color: #98FB98;
}
.Author h2{
  font-style: italic;
  margin-top: 2.5em;
}

.footer {
   position:fixed;
   left:0px;
   bottom:20px;
   height:30px;
   width:100%;
   
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
